 
.banner_container{
    background-image: url("../../images/HeroBanner.png");
    height: 630px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner_title {
    font-size: 50px;
    font-weight: 800;
    color: #D34A3F;
}

.banner_des{
    text-transform: uppercase;
    color: #fcfcfc;
    
}